body{
    font-family: 'Nunito', sans-serif;
}

.container{
    padding:3%;
    margin:2%;
}

.icons{
    padding: 2%;
    font-size: 2em;
}

.banner-animated{
    background: #000000;
    color: #ffffff;
}

